{% for item in cart_items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.sell_price }} ₽</td>
        <td>
            <!-- Форма для изменения количества товара -->
            <form action="{% url 'cart:cart_change' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.quantity }}" class="form-control" style="width: 60px;">
                <button type="submit" class="btn btn-primary btn-sm mt-2">Обновить</button>
            </form>
        </td>
        <td>{{ item.products_price }} ₽</td>
        <td>
            <!-- Форма для удаления товара из корзины -->
            <form action="{% url 'cart:cart_remove' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
            </form>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center">Корзина пуста</td>
    </tr>
{% endfor %}
