{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4 custom-shadow">
        <div class="row d-flex align-items-center">
            <div class="col-md-4 mx-auto">
                <img src="{{ product.image.url }}" class="img-fluid" style="max-width: 400px; max-height: 600px;" alt="Изображение продукта">
            </div>
            <div class="col-md-6">
                <p class="product_id mt-3">id: {{ product.display_id }}</p>
                <p class="card-text">Цена: <strong>{{ product.sell_price }} ₽</strong></p>
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="{% url 'cart:cart_add' %}" class="btn btn-dark add-to-cart" data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    Добавить в корзину
                </a>
            </div>
        </div>
        
        <div class="mt-4">
            {% comment  %}
            <h4>Комментарии</h4>
            {% if comments %}
                <ul class="list-unstyled">
                    {% for comment in comments %}
                        <li class="mb-3">
                            <strong>{{ comment.user.username }}</strong>:
                            <p>{{ comment.content }}</p>
                            <small>{{ comment.created_at }}</small>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Комментариев нет.</p>
            {% endif %}
            {% endcomment %}
        </div>
        {% comment  %}
        {% if user.is_authenticated %}
            <div class="mt-4">
                <h5>Оставить комментарий</h5>
                <form method="POST">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        {% else %}
            <p>Чтобы оставить комментарий, нужно <a href="{% url 'login' %}">войти</a>.</p>
        {% endif %}
        {% endcomment %}
    </div>
</div>
{% endblock %}
